---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: license-admin
  namespace: {{ APP_NAMESPACE }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
      - namespaces
    verbs:
      - get
      - list
      - watch

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: license-admin-binding
  namespace: {{ APP_NAMESPACE }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: license-admin
subjects:
  - kind: ServiceAccount
    name: license
    namespace: {{ APP_NAMESPACE }}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: license
  namespace: {{ APP_NAMESPACE }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-license
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-license
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      k8s-app: rg-license
  template:
    metadata:
      labels:
        k8s-app: rg-license
    spec:
      serviceAccountName: license
      imagePullSecrets:
      - name: regsecret
{%if SKYWALKING["enable"] %}
      initContainers:
      - name: init-agent
        image: {{ PRIVATE_INSECURE_REGISTRY }}/sourceid/skywalking:{{ SKYWALKING.IMAGE_VERSION }}
        command:
        - 'sh'
        - '-c'
        - 'set -ex;mkdir -p /skywalking/agent;cp -r /opt/skywalking/agent/* /skywalking/agent;'
        volumeMounts:
        - name: agent
          mountPath: /skywalking/agent
{% endif %}
      containers:
      - name: rg-license
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.license.name }}:{{ SOURCEID_DOCKERS.license.version }}
        imagePullPolicy: IfNotPresent
        env:
{%if SKYWALKING["enable"] %}
        - name: JAVA_AGENT_EXT
          value: {{ SKYWALKING.JAVA_AGENT_EXT }}
        - name: SW_AGENT_NAME
          value: {{ SKYWALKING.AGENT_PREFIX }}-license
        - name: SW_AGENT_NAMESPACE
          value: {{ SKYWALKING.NAMESPACE }}
        - name: SW_GRPC_LOG_SERVER_HOST
          value: {{ SKYWALKING.SERVER_HOST }}
        - name: SW_AGENT_COLLECTOR_BACKEND_SERVICES
          value: {{ SKYWALKING.SERVER_HOST }}:11800          
{% endif %}
        - name: JAVA_OPT_EXT
          value: "{{ license_java_opt }}"
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /ruijie/sourceid/license/conf
          name: conf
        - mountPath: /logs
          name: logpath
        - mountPath: /skywalking/agent
          name: agent

{%if HEALTH_CHECK["enable"] and (HEALTH_CHECK["license"] is not defined or HEALTH_CHECK["license"])  %}
        startupProbe:
          failureThreshold: 20
          httpGet:
            path: /liveProbe
            port: 8080
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1

        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /liveProbe
            port: 8080
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1
          
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /liveProbe
            port: 8080
            scheme: HTTP
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
{% endif %}

      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/license/conf
        - name: logpath
          hostPath:
            path: {{ config_base_dir }}/logs
        - name: agent
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: rg-license
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    k8s-app: rg-license
  ports:
  - port: 80
    targetPort: 8080

