---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: license-admin
  namespace: {{ APP_NAMESPACE }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
      - namespaces
    verbs:
      - get
      - list
      - watch

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: license-admin-binding
  namespace: {{ APP_NAMESPACE }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: license-admin
subjects:
  - kind: ServiceAccount
    name: license
    namespace: {{ APP_NAMESPACE }}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: license
  namespace: {{ APP_NAMESPACE }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-license
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-license
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: rg-license
  template:
    metadata:
      labels:
        k8s-app: rg-license
    spec:
      serviceAccountName: license
      imagePullSecrets:
      - name: regsecret
      containers:
      - name: rg-license
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.license.name }}:{{ SOURCEID_DOCKERS.license.version }}
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_OPT_EXT
          value: "{{ license_java_opt }}"
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /ruijie/sourceid/license/conf
          name: conf
        - mountPath: /logs
          name: logpath
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/license/conf
        - name: logpath
          hostPath:
            path: {{ config_base_dir }}/logs
---
apiVersion: v1
kind: Service
metadata:
  name: rg-license
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    k8s-app: rg-license
  ports:
  - port: 80
    targetPort: 8080

