#!/bin/bash
c=0
for str in `kubectl get pods -n ruijie-sourceid -o jsonpath="{.items[*].spec.containers[*].image}"    |tr -s '[[:space:]]' '\n' |sort`
do
  strlist[$c]="$str"
  ((c++))
done

for value in ${strlist[*]}
do
#id.ruijie.com.cn:25082/sourceid/component:r1.7.1
#echo "${value%:*}---${value##*:}"
#${value%:*}:id.ruijie.com.cn:25082/sourceid/component  ${value##*:}:r1.7.1 
instance=${value%:*}
#${value%:*}:component
# component_info_metric 默认值为1,
cat <<EOF | curl --data-binary @- http://{{ KUBE_MASTER_HOSTS['0'] }}:39091/metrics/job/component-info/instance/"${instance##*/}"
# HELP component_info_metric Information about the sid component version.
# TYPE component_info_metric gauge
component_info_metric{version="${value##*:}"} 1
EOF

done

#获取kad版本信息
kad_app=$(cat /opt/kad/workspace/ruijie-sourceid/conf/all.yml |grep KAD_APP_VERSION)
# component_info_metric 默认值为1,
cat <<EOF | curl --data-binary @- http://{{ KUBE_MASTER_HOSTS['0'] }}:39091/metrics/job/component-info/instance/kad_app
# HELP component_info_metric Information about the sid component version.
# TYPE component_info_metric gauge
component_info_metric{version=${kad_app#*:}} 1
EOF