dn: olcDatabase={2}hdb,cn=config
changetype: modify
add: olcLimits
olcLimits: dn.exact="cn={{ LDAP_READONLY_USER_USERNAME }},{{ LDAP.LDAP_BASE_DN }}" time.soft=unlimited time.hard=unlimited size.soft=unlimited size.hard=unlimited
