dn: dc=gongchang,dc=com
o: gongchang com
dc: gongchang
objectClass: top
objectClass: dcObject
objectclass: organization

dn: cn=admin,dc=gongchang,dc=com
cn: admin
objectClass: organizationalRole
description: Directory Manager

dn: ou=People,dc=gongchang,dc=com
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Group,dc=gongchang,dc=com
ou: Group
objectClass: top
objectClass: organizationalUnit

