apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-component
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: {{ deploy_conf.replicas }}
  template:
    metadata:
      labels:
        service: rg-component
    spec:
      containers:
      - name: rg-component
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.component.name }}:{{ SOURCEID_DOCKERS.component.version }}
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_OPT_EXT
          value: "{{ component_java_opt }}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /ruijie/sourceid/component/conf
          name: conf
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/component/conf

---
apiVersion: v1
kind: Service
metadata:
  name: rg-component
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: rg-component
  ports:
  - port: 80
    targetPort: 8080
