apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-sso
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: {{ deploy_conf.replicas }}
  template:
    metadata:
      labels:
        service: rg-sso
    spec:
{% if "" != SOURCEID_SSO_HOST_ALIAS and "offload" != SOURCEID_HTTPS_MODE %}
      hostAliases:
      - ip: "{{ SOURCEID_SSO_HOST_ALIAS }}"
        hostnames:
        - "{{ SOURCEID_SSO_DOMAIN }}"
{% endif %}
      containers:
      - name: rg-sso
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.sso.name }}:{{ SOURCEID_DOCKERS.sso.version }}
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_OPT_EXT
          value: "{{ sso_java_opt }}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 80
        volumeMounts:
            - mountPath: /etc/cas
              name: etc
            - mountPath: /build
              name: build
            - mountPath: /cas
              name: cas
            - mountPath: /ruijie/sourceid/sso/conf
              name: conf
      imagePullSecrets:
      - name: regsecret
      volumes:
        - emptyDir: {}
          name: etc
        - emptyDir: {}
          name: build
        - emptyDir: {}
          name: cas
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/sso/conf

---
apiVersion: v1
kind: Service
metadata:
  name: rg-sso
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: rg-sso
  ports:
  - port: 80
    targetPort: 80

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rg-sso-ingress
  namespace: {{ APP_NAMESPACE }}
spec:
  rules:
  - host: {{ SOURCEID_SSO_DOMAIN }}
    http:
      paths:
      - path: /v2/api-docs
        backend:
          serviceName: rg-frontend
          servicePort: 80
      - path: /public
        backend:
          serviceName: rg-gate
          servicePort: 80
      - path: /linkid
        backend:
          serviceName: rg-gate
          servicePort: 80
      - path: /
        backend:
          serviceName: rg-sso
          servicePort: 80

