apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-gate
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-gate
spec:
  replicas: {{ deploy_conf.replicas }}
  selector:
    matchLabels:
      k8s-app: rg-gate
  template:
    metadata:
      labels:
        k8s-app: rg-gate
    spec:
{% if "" != SOURCEID_SSO_HOST_ALIAS and "offload" != SOURCEID_HTTPS_MODE %}
      hostAliases:
      - ip: "{{ SOURCEID_SSO_HOST_ALIAS }}"
        hostnames:
        - "{{ SOURCEID_SSO_DOMAIN }}"
{% endif %}
{%if SKYWALKING["enable"] %}
      initContainers:
      - name: init-agent
        image: {{ PRIVATE_INSECURE_REGISTRY }}/sourceid/skywalking:{{ SKYWALKING.IMAGE_VERSION }}
        command:
        - 'sh'
        - '-c'
        - 'set -ex;mkdir -p /skywalking/agent;cp -r /opt/skywalking/agent/* /skywalking/agent;'
        volumeMounts:
        - name: agent
          mountPath: /skywalking/agent
{% endif %}
      containers:
      - name: rg-gate
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.gate.name }}:{{ SOURCEID_DOCKERS.gate.version }}
{%if SKYWALKING["enable"] %}
        command:
        - 'sh'
        - '-c'
        - 'java -javaagent:/skywalking/agent/skywalking-agent.jar -jar -Dspring.config.location=/ruijie/sourceid/gate/conf/ -Dlogging.config=/ruijie/sourceid/gate/conf/logback.xml -Xmx4096m -Xms4096m $JAVA_OPT_EXT /app/rg-gate-0.0.1-SNAPSHOT.jar'
{% endif %}
        imagePullPolicy: IfNotPresent
        env:
{%if SKYWALKING["enable"] %}
        - name: SW_AGENT_NAME
          value: {{ AGENT_PREFIX }}-gate
        - name: SW_AGENT_NAMESPACE
          value: {{ SKYWALKING.NAMESPACE }}
        - name: SW_GRPC_LOG_SERVER_HOST
          value: {{ SKYWALKING.SERVER_HOST }}
        - name: SW_AGENT_COLLECTOR_BACKEND_SERVICES
          value: {{ SKYWALKING.SERVER_HOST }}:11800          
{% endif %}
        - name: JAVA_OPT_EXT
          value: "{{ gate_java_opt }}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /ruijie/sourceid/gate/conf
          name: conf
        - mountPath: /logs
          name: logpath
        - mountPath: /skywalking/agent
          name: agent
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/gate/conf
        - name: logpath
          hostPath:
            path: {{ config_base_dir }}/logs
        - name: agent
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: rg-gate
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    k8s-app: rg-gate
  ports:
  - port: 80
    targetPort: 80

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: rg-gate-ingress
  namespace: {{ APP_NAMESPACE }}
spec:
{% if 'https' == ingress_mode %}
  tls:
    - hosts:
      - {{ SOURCEID_GATE_DOMAIN }}
      secretName: nginx-cert
{% endif %}
  rules:
    - host: {{ SOURCEID_GATE_DOMAIN }}
      http:
        paths:
        - path: /
          backend:
            serviceName: rg-gate
            servicePort: 80
        - path: /data-sync/v2/api-docs
          backend:
            serviceName: rg-frontend
            servicePort: 80
        - path: /component/v2/api-docs
          backend:
            serviceName: rg-frontend
            servicePort: 80
        - path: /faceid/v2/api-docs
          backend:
            serviceName: rg-frontend
            servicePort: 80
        - path: /import/v2/api-docs
          backend:
            serviceName: rg-frontend
            servicePort: 80
        - path: /linkid/v2/api-docs
          backend:
            serviceName: rg-frontend
            servicePort: 80
{% if "yes" == SOURCEID_FGM_VERSION_ENABLED %}
        - path: /linkid/api/ztfgm
          backend:
            serviceName: rg-frontend
            servicePort: 80
{% endif %}
