apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-gate
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        service: rg-gate
    spec:
      containers:
      - name: rg-gate
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_COMPONENTS.gate.docker_name }}:{{ SOURCEID_COMPONENTS.gate.version }}
        imagePullPolicy: IfNotPresent
{% if "yes" == gate_resource_limit %}
        resources:
          limits:
            cpu: 2
            memory: 2Gi
          requests:
            cpu: 1
            memory: 1Gi
{% endif %}
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /ruijie/sourceid/gate/conf
          name: conf
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/gate/conf

---
apiVersion: v1
kind: Service
metadata:
  name: rg-gate
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: rg-gate
  ports:
  - port: 80
    targetPort: 80

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rg-gate-ingress
  namespace: {{ APP_NAMESPACE }}
spec:
  rules:
  - host: {{ SOURCEID_GATE_DOMAIN }}
    http:
      paths:
      - path: /
        backend:
          serviceName: rg-gate
          servicePort: 80
