apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-{{ comp_name }}
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-{{ comp_name }}
spec:
  replicas: {{ deploy_conf.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      k8s-app: rg-{{ comp_name }}
  template:
    metadata:
      labels:
        k8s-app: rg-{{ comp_name }}
    spec:
      containers:
      - name: rg-{{ comp_name }}
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SMPPLUS_DOCKERS[comp_name].name }}:{{ SMPPLUS_DOCKERS[comp_name].version }}
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_OPT_EXT
          value: "{{ JAVA_OPT_EXT}}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 8901
        volumeMounts:
        - mountPath: /ruijie/{{comp_name}}
          name: conf

        startupProbe:
          failureThreshold: 20
          httpGet:
            path: /linkid/liveProbe/linkid
            port: 8901
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1

        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /linkid/liveProbe/linkid
            port: 8901
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1

        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /linkid/liveProbe/linkid
            port: 8901
            scheme: HTTP
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1

      imagePullSecrets:
      - name: regsecret
      tolerations:
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
        tolerationSeconds: {{tolerationSeconds}}
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: {{tolerationSeconds}}
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/{{comp_name}}

---
apiVersion: v1
kind: Service
metadata:
  name: rg-{{comp_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    k8s-app: rg-{{comp_name}}
  ports:
  - port: 8901
    targetPort: 8901
