apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-linkid
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-linkid
spec:
  replicas: {{ deploy_conf.replicas }}
  selector:
    matchLabels:
      k8s-app: rg-linkid
  template:
    metadata:
      labels:
        k8s-app: rg-linkid
    spec:
{%if SKYWALKING["enable"] %}
      initContainers:
      - name: init-agent
        image: {{ PRIVATE_INSECURE_REGISTRY }}/sourceid/skywalking:{{ SKYWALKING.IMAGE_VERSION }}
        command:
        - 'sh'
        - '-c'
        - 'set -ex;mkdir -p /skywalking/agent;cp -r /opt/skywalking/agent/* /skywalking/agent;'
        volumeMounts:
        - name: agent
          mountPath: /skywalking/agent
{% endif %}
      containers:
      - name: rg-linkid
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.linkid.name }}:{{ SOURCEID_DOCKERS.linkid.version }}
{%if SKYWALKING["enable"] %}
        command:
        - 'sh'
        - '-c'
        - 'java -javaagent:/skywalking/agent/skywalking-agent.jar -jar -Drocketmq.client.logFileMaxIndex=2 -Drocketmq.client.logFileMaxSize=52428800 -Drocketmq.client.logLevel=WARN -Dspring.config.location=/ruijie/sourceid/linkid/conf/ -Dlogging.config=/ruijie/sourceid/linkid/conf/logback.xml -Xmx4096m -Xms4096m $JAVA_OPT_EXT /app/rg-linkid-universities-start-1.0.0.jar'
{% endif %}
        imagePullPolicy: IfNotPresent
        env:
{%if SKYWALKING["enable"] %}
        - name: SW_AGENT_NAME
          value: {{ SKYWALKING.AGENT_PREFIX }}-linkid
        - name: SW_AGENT_NAMESPACE
          value: {{ SKYWALKING.NAMESPACE }}
        - name: SW_GRPC_LOG_SERVER_HOST
          value: {{ SKYWALKING.SERVER_HOST }}
        - name: SW_AGENT_COLLECTOR_BACKEND_SERVICES
          value: {{ SKYWALKING.SERVER_HOST }}:11800          
{% endif %}
        - name: JAVA_OPT_EXT
          value: "{{ linkid_java_opt }}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 8901
        volumeMounts:
        - mountPath: /ruijie/sourceid/linkid/conf
          name: conf
        - mountPath: /logs
          name: logpath
        - mountPath: {{ config_base_dir }}/sourceid/linkid/etcdtls
          name: etcd-tls
        - mountPath: /skywalking/agent
          name: agent
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/linkid/conf
        - name: logpath
          hostPath:
            path: {{ config_base_dir }}/logs
        - name: etcd-tls
          configMap:
            name: tls-for-etcd
        - name: agent
          emptyDir: {}        
---
apiVersion: v1
kind: Service
metadata:
  name: rg-linkid
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    k8s-app: rg-linkid
  ports:
  - port: 80
    targetPort: 8901
