docker run --name rg-gateway \
  -v {{ config_base_dir }}/sourceid/gateway/conf:/ruijie/sourceid/gateway/conf \
  --net=host \
  -d --restart=unless-stopped \
  {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.gateway.name }}:{{ SOURCEID_DOCKERS.gateway.version }}
