apiVersion: v1
kind: Service
metadata:
  name: mongo-node
  namespace: {{ APP_NAMESPACE }}
spec:
  type: NodePort
  ports:
    - port: {{ mongodb_port }}
      targetPort: {{ mongodb_port }}
      nodePort: {{ MONGODB_NODEPORT }}
  selector:
    service: mongo1
