#!/bin/bash


cd /ruijie/init/sourceid-hotfix/sourceid-university/rg-upgrade-db/


./upgrade_data.sh 127.0.0.1 27017 cas sourceid {{current_db_version['cas_version']}} DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 linkid sourceid {{current_db_version['linkid-dev_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 gate sourceid {{current_db_version['gate_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 gateway sourceid {{current_db_version['gateway_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 faceid sourceid {{current_db_version['faceid_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 groupview sourceid {{current_db_version['groupview_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 log sourceid {{current_db_version['log_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 mdm sourceid {{current_db_version['mdm_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 career sourceid {{current_db_version['career-event_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 xxl-job sourceid {{current_db_version['xxl-job_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 internetid sourceid {{current_db_version['internet-id_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 report sourceid {{current_db_version['report_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 organization-center sourceid {{current_db_version['organization-center_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 rg-flow sourceid {{current_db_version['rg-flow_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}
./upgrade_data.sh 127.0.0.1 27017 address-book sourceid {{current_db_version['address-book_version']}}  DBVERSIONUPGRADE {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }} admin {{ INDUSTRY_TYPE }}






























dirname=(rg-upgrade-db rg-upgrade-db-{{ INDUSTRY_TYPE }})
for dir in ${dirname[@]};
do

cd /ruijie/init/sourceid-hotfix/sourceid-university/${dir}/

touch update.log

dbfilepath=$(ls -d *_upgrade_db/sourceid/DBVERSIONUPGRADE)


dbfilepathNew=(${dbfilepath//\\n/ })
{% raw %}
for((i=0;i<${#dbfilepathNew[*]};i++))
{% endraw %}
do
    errorinfo=$(grep "Error" update.log)

    if [[ ${errorinfo} =~ "Error" ]]
    then
        exit
    fi
    
    need=$(ls ${dbfilepathNew[i]}/ | grep js |wc -w)
    if [ "${need}" != "0" ] ; then

    dbfilepath1=$(ls ${dbfilepathNew[i]})
    dbfilepathNew1=(${dbfilepath1//\\n/ })
    {% raw %}
    for((j=0;j<${#dbfilepathNew1[*]};j++))
    {% endraw %}
    do

      #echo ${dbfilepathNew[i]}/${dbfilepathNew1[j]}
      cc=$(mongo  -u {{ MONGODB_ADMIN_USER }} -p {{ MONGODB_ADMIN_PWD }} --authenticationDatabase admin 127.0.0.1:27017/admin --quiet --eval "tabName='SYSTEM_VERSION';function getReadableFileSizeString(tabName) {var name=tabName;var cnt=db.getCollection(name).find({"FILE_NAME":'${dir}/${dbfilepathNew[i]}/${dbfilepathNew1[j]}'}).count();print(cnt);};getReadableFileSizeString(tabName);")  
      if [ $cc -gt 0 ]
      then
        echo "${dir}/${dbfilepathNew[i]}/${dbfilepathNew1[j]}记录已存在"
      else
        echo "${dir}/${dbfilepathNew[i]}/${dbfilepathNew1[j]}无记录"
        time=$(date +%Y-%m-%d_%H:%M:%S)
        tt=$(mongo 127.0.0.1:27017 -u {{ MONGODB_ADMIN_USER }} -p {{ MONGODB_ADMIN_PWD }} --authenticationDatabase admin --quiet  ${dbfilepathNew[i]}/${dbfilepathNew1[j]})
        dd=$(echo $tt | sed 's/\"//g' | awk '{gsub(/^\s+|\s+$/, "");print}')
 
        errorinfo1=$(echo $dd | grep "Error")

        if [[ ${errorinfo1} =~ "Error" ]]
        then
            echo $dd >> update.log
            exit
        else
            mongo  -u {{ MONGODB_ADMIN_USER }}  -p {{ MONGODB_ADMIN_PWD }} --authenticationDatabase admin 127.0.0.1:27017/admin --quiet --eval "tabName='SYSTEM_VERSION';function getReadableFileSizeString(tabName) {var name=tabName;var cnt=db.getCollection(name).insert({"FILE_NAME": '${dir}/${dbfilepathNew[i]}/${dbfilepathNew1[j]}', "TIME": '${time}', "RESULT": '${dd}'});print(cnt);};getReadableFileSizeString(tabName);"
     
        fi

      fi
    done

    fi
    #need=$(ls ${dbfilepathNew[i]}/ | grep js |wc -w)
    #if [ "${need}" != "0" ] ; then
    #    mongo 127.0.0.1:27017 -u {{ MONGODB_ADMIN_USER }} -p {{ MONGODB_ADMIN_PWD }} --authenticationDatabase admin --quiet ${dbfilepathNew[i]}/*.js >> update.log 2>&1
    #fi




done

done
