#!/bin/bash

cd /ruijie/init/sourceid-hotfix/sourceid-university/rg-upgrade-db/

if [ -d  ./xxl-job_upgrade_db/sourceid/DBVERSIONUPGRADE ]; then

for file in ./xxl-job_upgrade_db/sourceid/DBVERSIONUPGRADE/*.sql
do
psql -U postgres -d xxl_job -f  $file
done

fi