apiVersion: v1
kind: Pod
metadata:
  name: rg-socket5-proxy
  namespace: ruijie-smpplus
  labels:
    k8s-app: rg-socket5-proxy
spec:
  containers:
  - image: 172.17.8.20:8082/smpplus/socket5-proxy:1.0.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
    - mountPath: /etc/v2ray
      name: conf
    name: rg-socket5-proxy
{% if "dict" == (deploy_conf.resources | type_debug) %}
    resources:
      limits:
        cpu: {{ deploy_conf.resources.limits.cpu }}
        memory: {{ deploy_conf.resources.limits.memory }}
      requests:
        cpu: {{ deploy_conf.resources.requests.cpu }}
        memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}  
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/v2ray
    name: conf
status: {}