apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-smpplus-https
  namespace: ruijie-smpplus
  annotations:
    #ingress.kubernetes.io/ssl-redirect: "false"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/use-regex: "true"
    # 1，如果浏览器传给ingress的仅有域名，后面不带任何path，则补加/admin/, 之后按 3处解析；
    #nginx.ingress.kubernetes.io/app-root: /admin/
    # 2，如果浏览器传给ingress的是如下url，则按指定规则进行替换，之后按3处解析后传递给service，但浏览器中仍然显示替换前的path
    #    configuration-snippet和server-snippet效果相同
    nginx.ingress.kubernetes.io/configuration-snippet: |
      #nginx.ingress.kubernetes.io/server-snippet: |
      rewrite ^/develop/(.*)$ /admin/develop/$1;
      rewrite ^/entry/(.*)$ /portal/entry/$1;
      rewrite ^/access/(.*)$ /portal/access/$1;
      rewrite ^/accounting/(.*)$ /portal/accounting/$1;
      rewrite ^/mn/(.*)$ /portal/mn/$1;
      rewrite ^/api/mstscHttp/(.*)$ /$1;
      rewrite ^/api/license/(.*)$ /$1;
      #rewrite ^/api/operations/(.*)$ /api/$1;
      rewrite ^/api/linkid/(.*)$ /linkid/$1;
spec:
  tls:
  - hosts:
   # 此处host应该和证书中的域名写法完全一致，否则仍然会报不安全的连接。如果包含通配符星号，则需要使用单引号
    - '*.rghall.com.cn'
    secretName: nginx-cert
  rules:
  # host可以是a.rghall.com.cn或b.rghall.com.cn，但不能是rghall.com.cn
  - host: {{ ingress_realmname }}
    http:
      paths:
      # 3
      - path: /
        backend:
          serviceName: rg-frontend-smp
          servicePort: 8088
      #- path: /portal
      #  backend:
      #    serviceName: rg-frontend-portal
      #    servicePort: 80
      #- path: /self
      #  backend:
      #    serviceName: rg-self
      #    servicePort: 8087
      - path: /api/aggregation
        backend:
          serviceName: rg-aggregation
          servicePort: 9999
      - path: /api/mstscHttp
        backend:
          serviceName: rg-aggregation
          servicePort: 9999
      - path: /license
        backend:
          serviceName: rg-license
          servicePort: 8089
      - path: /api
        backend:
          serviceName: rg-operations
          servicePort: 10000
      - path: /api/pcapscan 
        backend:
          serviceName: rg-pcap-scan
          servicePort: 10002
      - path: /linkid
        backend:
          serviceName: rg-linkid
          servicePort: 8901
      - path: /api/eportal
        backend:
          serviceName: rg-eportal
          servicePort: 8090
      - path: /nodeManager/file/download
        backend:
          serviceName: rg-authentication
          servicePort: 9888
      - path: /nodeManager/nodeInfoCommit/fromAD
        backend:
          serviceName: rg-authentication
          servicePort: 9888
      - path: /radiusSession/onlineUser/getExportLinkedOnlineUsers
        backend:
          serviceName: rg-authentication
          servicePort: 9888
      - path: /nodeManager/etlUserInfoSync
        backend:
          serviceName: rg-authentication
          servicePort: 9888
      - path: /nodeManager/nodeidentify
        backend:
          serviceName: rg-authentication
          servicePort: 9888
  - host: b.rghall.com.cn
    http:
      paths:
      - path: /
        backend:
          serviceName: rg-frontend-smp
          servicePort: 8088