# Source: ingress-nginx/templates/controller-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    helm.sh/chart: ingress-nginx-3.30.0
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/version: 0.46.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: controller
  name: nginx-ingress
  namespace: kube-system
data:
  use-http2: "false"
  proxy-body-size: "1024M"
  proxy-buffer-size: "256K"
  proxy-buffers-number: "8"
  ssl-ciphers: {{ ssl_ciphers }}
  ssl-protocols: {{ ssl_protocols }}
{% if 'http' == ingress_mode %}
  compute-full-forwarded-for: "true"
  use-forwarded-headers: "true"
{% endif %}
{% if KAD_APP_NAME == 'smpplus' %}
  ssl-redirect: "false"
  custom-http-errors: "404,503"
{% endif %}
{% if KAD_APP_NAME == 'sourceid' %}
  custom-http-errors: "400,404,405,500,502,503,504"
{% endif %}