apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-{{ comp_name }}
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-{{ comp_name }}
spec:
  replicas: {{ deploy_conf.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      k8s-app: rg-{{ comp_name }}
  template:
    metadata:
      labels:
        k8s-app: rg-{{ comp_name }}
    spec:
      containers:
      - name: rg-{{ comp_name }}
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SMPPLUS_DOCKERS[comp_name].name }}:{{ SMPPLUS_DOCKERS[comp_name].version }}
        imagePullPolicy: IfNotPresent
        env:
{% if ESCAPE["enable"] %}
        - name: ACCESS_VIP
          value: "{{ ESCAPE.VIP}}"
        - name: ESCAPE_SERVICE_VIP
          value: "{{ ESCAPE.VIP}}"
{% endif %}
{% if k8s_single == "no" %}
        - name: CLUSTER_MODE
          value: "true"
        - name: SMPPLUS_SERVICE_VIP
          value: "{{ KUBE_MASTER_VIP }}"
        - name: SOCKET_PROXY_PORTS
          value: "1080"
{% endif %}
        - name: JAVA_OPT_EXT
          value: "{{ JAVA_OPT_EXT}}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 8090
        - containerPort: 2000
          protocol: UDP
        - containerPort: 50100
          protocol: UDP
        volumeMounts:
        - mountPath: /ruijie/{{comp_name}}
          name: conf
        startupProbe:
          failureThreshold: 20
          httpGet:
            path: /eportal/liveProbe/eportal
            port: 8090
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1

        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /eportal/liveProbe/eportal
            port: 8090
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1

        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /eportal/liveProbe/eportal
            port: 8090
            scheme: HTTP
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1

      imagePullSecrets:
      - name: regsecret
      tolerations:
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
        tolerationSeconds: {{tolerationSeconds}}
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: {{tolerationSeconds}}
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/{{comp_name}}

---
apiVersion: v1
kind: Service
metadata:
  name: rg-{{comp_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
{% if k8s_single == "yes" %}
  externalTrafficPolicy: Local
{% endif %}    
  selector:
    k8s-app: rg-{{comp_name}}
{% if ESCAPE["enable"] %}
  ports:
  - port: 8090
    name: port8090
    targetPort: 8090
  - protocol: UDP
    port: 50100
    name: port50100
    targetPort: 50100
{% endif %}   

{% if not ESCAPE["enable"] %}
  type: NodePort
  ports:
  - port: 8090
    name: port8090
    targetPort: 8090
    nodePort: 8090
  - protocol: UDP
    port: 50100
    name: port50100
    targetPort: 50100
    nodePort: 50100
{% endif %}  
