apiVersion: apps/v1
kind: Deployment
metadata:
  name: rg-{{ comp_name }}
  namespace: {{ APP_NAMESPACE }}
  labels:
    k8s-app: rg-{{ comp_name }}
spec:
  replicas: {{ deploy_conf.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      k8s-app: rg-{{ comp_name }}
  template:
    metadata:
      labels:
        k8s-app: rg-{{ comp_name }}
    spec:
{% if ESCAPE["enable"] %}    
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet    
{% endif %}   
      containers:
      - name: rg-{{ comp_name }}
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SMPPLUS_DOCKERS[comp_name].name }}:{{ SMPPLUS_DOCKERS[comp_name].version }}
        imagePullPolicy: IfNotPresent
        env:
{% if ESCAPE["enable"] %}
        - name: ACCESS_VIP
          value: "{{ ESCAPE.VIP}}"   
{% endif %}               
        - name: JAVA_OPT_EXT
          value: "{{ JAVA_OPT_EXT}}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 9888
        - containerPort: 9788
        - containerPort: 67
          protocol: UDP

        volumeMounts:
        - mountPath: /ruijie/{{comp_name}}
          name: conf
{% if  DEPLOY_MODE != "multi-master" %}          
        - mountPath: /ruijie/{{comp_name}}/kadapitls
          name: kadapi-tls
{% endif %}          
        startupProbe:
          failureThreshold: 15
          httpGet:
            path: /liveProbe/authentication
            port: 9888
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1

        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /liveProbe/authentication
            port: 9888
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1

        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /liveProbe/authenticationBusiness
            port: 9888
            scheme: HTTP
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 5

      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/{{comp_name}}
{% if  DEPLOY_MODE != "multi-master" %}                
        - name: kadapi-tls
          configMap:
            name: kadapi-cert
{% endif %}                      
---
apiVersion: v1
kind: Service
metadata:
  name: rg-{{comp_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
{% if k8s_single == "yes" %}
  externalTrafficPolicy: Local
{% endif %}
  selector:
    k8s-app: rg-{{comp_name}}
{% if ESCAPE["enable"] %}    
  ports:
  - port: 9788
    name: port9788
    targetPort: 9788
  - port: 9888
    name: port9888
    targetPort: 9888
  - protocol: UDP
    port: 67
    name: port67
    targetPort: 67
{% endif %}   
{% if not ESCAPE["enable"] %}    
  type: NodePort
  ports:
  - port: 9788
    name: port9788
    targetPort: 9788
    nodePort: 9788
  - port: 9888
    name: port9888
    targetPort: 9888
    nodePort: 9888
  - protocol: UDP
    port: 67
    name: port67
    targetPort: 67
    nodePort: 67
{% endif %}   