apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-faceid-task
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: {{ deploy_conf.replicas }}
  template:
    metadata:
      labels:
        service: rg-faceid-task
    spec:
      containers:
      - name: rg-faceid-task
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.faceid-task.name }}:{{ SOURCEID_DOCKERS.faceid-task.version }}
        imagePullPolicy: IfNotPresent
        env:
        - name: JAVA_OPT_EXT
          value: "{{ faceid_java_opt }}"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 8903
        volumeMounts:
        - mountPath: /ruijie/sourceid/faceid-task/conf
          name: conf
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/faceid-task/conf

---
apiVersion: v1
kind: Service
metadata:
  name: rg-faceid-task
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: rg-faceid-task
  ports:
  - port: 80
    targetPort: 8903
