apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-{{ comp_name }}
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: {{ deploy_conf.replicas }}
  template:
    metadata:
      labels:
        service: rg-{{ comp_name }}
    spec:
      containers:
      - name: rg-{{ comp_name }}
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SMPPLUS_DOCKERS[comp_name].name }}:{{ SMPPLUS_DOCKERS[comp_name].version }}
        imagePullPolicy: IfNotPresent
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /usr/share/nginx/html/portal/assets/config.js
          name: conf
          subPath: config.js
        - mountPath: /usr/share/nginx/html/portal/assets/plugin
          name: plugin
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/{{comp_name}}/conf
        - name: plugin
          hostPath:
            path: /home/ruijie/ruijie-smpplus/frontend-portal/plugin

---
apiVersion: v1
kind: Service
metadata:
  name: rg-{{comp_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
  externalTrafficPolicy: Local
  selector:
    service: rg-{{comp_name}}
  type: NodePort
  ports:
  - name: n80
    port: 80
    targetPort: 80
    nodePort: 80