port: 11938

filelist:
-  /etc/sysconfig/network-scripts/{{ ifcfg }}
-  /opt/kad/workspace/k8s/conf/all.yml



mongofile: {{ config_base_dir }}/mongodb/init/smpplus/rg-init-db/update-replset.js

CA_FILE: /etc/kad/api/ssl/ca.pem 
KEY_FILE: /etc/kad/api/ssl/kadapi-key.pem
CERT_FILE: /etc/kad/api/ssl/kadapi.pem

networkfile: /etc/sysconfig/network-scripts/{{ ifcfg }}