apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-frontend
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: {{ deploy_conf.replicas }}
  template:
    metadata:
      labels:
        service: rg-frontend
    spec:
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: conf
          hostPath:
            path: {{ config_base_dir }}/sourceid/frontend/deploy
      containers:
      - name: rg-frontend
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SOURCEID_DOCKERS.frontend.name }}:{{ SOURCEID_DOCKERS.frontend.version }}
        imagePullPolicy: IfNotPresent
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 8081
        volumeMounts:
        - mountPath: /usr/share/nginx/html/public/deploy
          name: conf

---
apiVersion: v1
kind: Service
metadata:
  name: rg-frontend
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: rg-frontend
  ports:
  - port: 80
    targetPort: 8081
