{
  "registry-mirrors": ["{{ REG_MIRROR_1 }}", "{{ REG_MIRROR_2 }}", "{{ REG_MIRROR_3 }}"],
  "insecure-registries":[],
  "max-concurrent-downloads": 10,
  "log-driver": "{{ LOG_DRIVER }}",
  "log-level": "{{ LOG_LEVEL }}",
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
    },
  "data-root": "{{ DOCKER_STORAGE_DIR }}",
  "bip":"{{ DOCKER_BIP }}"
}
