apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-conf
  namespace: {{ APP_NAMESPACE }}
data:
  liveness-probe-sh: |-
    #!/bin/bash
    LOG_FILE=/data/db/mongo_liveness.log
    result=`mongo {{ mongo_auth_param }} --eval 'r1=rs.status(); r2=""; if(r1.ok==1 && r1.myState==6) r2="1,"+r1.myState; if(r1.ok==0 && r1.code!=94) r2="0,"+r1.code; r2;' --quiet`
    if [ "$result"x == ""x ]
    then
      exit 0
    else
      echo "[`date +%Y%m%d_%H:%M:%S`]>>>find mongo error: $result, restart it" >> $LOG_FILE
      exit 1
    fi
