apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  namespace: {{ APP_NAMESPACE }}
  name: {{ mongodb_node_name }}
spec:
  replicas: 1
  template:
    metadata:
     labels:
       service: {{ mongodb_node_name }}
    spec:
      nodeName: {{ mongodb_node_ip }}
      containers:
      - name: {{ mongodb_node_name }}
        image: mongo:{{ mongodb_version }}
        imagePullPolicy: IfNotPresent
        command:
          - mongod
          - '--bind_ip_all'
          - '--replSet'
          - rs0
          - '--smallfiles'
          - '--noprealloc'
          - '--enableMajorityReadConcern'
          - 'false'
          - '--wiredTigerCacheSizeGB'
          - '{{ wiredTigerCacheSizeGB }}'
        ports:
          - containerPort: {{ mongodb_port }}
            hostPort: {{ mongodb_port }}
        volumeMounts:
          - mountPath: /data/db
            name: data
{% if mongodb_init_dir != '' %}
          - mountPath: /data/init
            name: init-dir
{% endif %}
      volumes:
      - name: data
        hostPath:
          path: {{ mongodb_data_dir }}
{% if mongodb_init_dir != '' %}
      - name: init-dir
        hostPath:
          path: {{ mongodb_init_dir }}
{% endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ mongodb_node_name }}
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: {{ mongodb_node_name }}
  ports:
  - port: {{ mongodb_port }}
    targetPort: {{ mongodb_port }}
