apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: busybox
  namespace: {{ APP_NAMESPACE }}
spec:
  template:
    metadata:
      labels:
        k8s-app: busybox
        name: busybox
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: busybox
        image: busybox:{{ busybox_version }}
        imagePullPolicy: IfNotPresent
        command:
          - sleep
          - "3600"
