#!/bin/bash
set -x
   
A=`docker ps |grep 'k8s_openldap' |grep -v 'pause' |wc -l`
if [ $A -eq 0 ];then
   echo `date`':  slapd is not healthy, try to killall keepalived' >> /var/log/keepalived.log
   exit 1
fi
exit 0