#!/bin/bash

{% for url in download_list %}
{% if "" != url %}
wget -P {{ base_dir }}/down/ {{ url }}
if [ ! -f "{{ base_dir }}/down/{{ url | regex_replace('^.*/', '') }}" ]; then
  echo "# 下载失败"
  echo ""
  echo ""
  exit 1
fi
{% endif %}
{% endfor %}

{% if kad_support_files_url is defined %}
echo "# 解压基础平台文件..."
tar xvf {{ base_dir }}/down/kad-support-files-{{ kad_support_files_version }}.tar.gz --directory={{ base_dir }}
rm -f {{ base_dir }}/down/kad-support-files-{{ kad_support_files_version }}.tar.gz
echo "# 解压成功"
echo ""
{% endif %}

{% if app_setup_package_url is defined %}
echo "# 解压{{ KAD_APP_NAME }}安装包..."
unzip -o {{ base_dir }}/down/{{ KAD_PACKAGE_NAME }}.zip -d {{ KAD_PACKAGE_DIR }}
echo "# 解压成功"
echo ""
{% endif %}

{% if app_images_url is defined %}
echo "# 解压{{ KAD_APP_NAME }}镜像包..."
touch {{ KAD_PACKAGE_DIR }}/images-download.ok
tar xvf {{ base_dir }}/down/{{ KAD_APP_NAME }}-images-{{ KAD_APP_VERSION }}.tar.gz --directory={{ base_dir }}/down
rm -f {{ base_dir }}/down/{{ KAD_APP_NAME }}-images-{{ KAD_APP_VERSION }}.tar.gz
echo "# 解压成功"
echo ""
{% endif %}

echo "# 下载成功"
echo ""
echo ""

