#!/bin/bash

{% for url in download_list %}
{% if "" != url %}
wget -P {{ base_dir }}/down/ {{ url }}
if [ ! -f "{{ base_dir }}/down/{{ url | regex_replace('^.*/', '') }}" ]; then
  echo "# 下载失败"
  echo ""
  echo ""
  exit 1
fi
{% endif %}
{% endfor %}

if [ -f "{{ kad_support_tgz_file }}" ]; then
  echo "# 解压基础平台文件..."
  tar xvf {{ kad_support_tgz_file }} --directory={{ base_dir }}
  rm -f {{ kad_support_tgz_file }}
  echo "# 解压成功"
  echo ""
fi


{% if not KAD_PACKAGE_DIR is exists %}
if [ -f "{{ kad_package_file }}" ]; then
  echo "# 解压{{ KAD_APP_NAME }}安装包..."
  unzip -o {{ kad_package_file }} -d {{ KAD_PACKAGE_DIR }}
  echo "# 解压成功"
  echo ""
fi
{% endif %}

if [ -f "{{ images_tgz_file }}" ]; then
  touch {{ download_flag_file }}
  echo "# 解压{{ KAD_APP_NAME }}镜像包..."
  tar xvf {{ images_tgz_file }} --directory={{ base_dir }}/down
  rm -f {{ images_tgz_file }}
  echo "# 解压成功"
  echo ""
fi

echo "# 下载成功"
echo ""
echo ""
