apiVersion: v1
kind: Service
metadata:
  name: keepalived-externalip-svc
  namespace: kube-system
spec: 
  type: ClusterIP
  selector:
    component: kube-apiserver
  ports:
  - name: http
    protocol: TCP
    port: 6443
    targetPort: 6443
  externalIPs:
  - {{ KUBE_MASTER_VIP }}