dn: {{ LDAP.LDAP_BASE_DN }}
o: {{ LDAP.LDAP_ORGANISATION }}
dc: {{ LDAP.LDAP_DC }}
objectClass: top
objectClass: dcObject
objectclass: organization

dn: cn=admin,{{ LDAP.LDAP_BASE_DN }}
cn: admin
objectClass: organizationalRole
description: Directory Manager

dn: ou=People,{{ LDAP.LDAP_BASE_DN }}
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Group,{{ LDAP.LDAP_BASE_DN }}
ou: Group
objectClass: top
objectClass: organizationalUnit
