kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: openldap1
  namespace: {{ APP_NAMESPACE }}
  labels:
    app: openldap1
spec:
  serviceName: openldap1
  replicas: 1
  selector:
    matchLabels:
      app: openldap1
  template:
    metadata:
      labels:
        app: openldap1
    spec:
      nodeName: {{ ldap_node_ip }}
      containers:
        - name: openldap1
          image: {{ PRIVATE_INSECURE_REGISTRY }}/sourceid/openldap:{{ ldap_version }}
          imagePullPolicy: IfNotPresent
          args:
            - '--copy-service'
          env:
            - name: LDAP_DOMAIN
              value: '{{ LDAP.LDAP_DOMAIN }}'
            - name: LDAP_ORGANISATION
              value: '{{ LDAP.LDAP_ORGANISATION }}'
            - name: LDAP_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ldap-pwds
                  key: admin
            - name: LDAP_CONFIG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ldap-pwds
                  key: admin
            - name: LDAP_READONLY_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ldap-pwds
                  key: readonly
          volumeMounts:
            - name: ldap-config
              mountPath: /etc/ldap/slapd.d
            - name: ldap-data
              mountPath: /var/lib/ldap
            - name: ldap-certs
              mountPath: /container/service/slapd/assets/certs
          ports:
            - name: tcp-389
              containerPort: 389
              protocol: TCP
            - name: tcp-636
              containerPort: 636
              protocol: TCP
          resources:
            limits:
              cpu: {{ deploy_conf.resources.limits.cpu }}
              memory: {{ deploy_conf.resources.limits.memory }}
            requests:
              cpu: {{ deploy_conf.resources.requests.cpu }}
              memory: {{ deploy_conf.resources.requests.memory }}
      imagePullSecrets:
        - name: regsecret
      volumes:
        - name: ldap-config
          hostPath:
            path: {{ ldap_base_dir }}/conf
        - name: ldap-data
          hostPath:
            path: {{ ldap_base_dir }}/data
        - name: ldap-certs
          hostPath:
            path: {{ ldap_base_dir }}/certs
---

kind: Service
apiVersion: v1
metadata:
  name: openldap1
  namespace: {{ APP_NAMESPACE }}
  labels:
    app: openldap1
spec:
  selector:
    app: openldap1
  type: NodePort
  ports:
    - name: tcp-389
      protocol: TCP
      port: 389
      targetPort: 389
      nodePort: {{ LDAP.LDAP_PORT }}
    - name: tcp-636
      protocol: TCP
      port: 636
      targetPort: 636
      nodePort: {{ LDAP.LDAP_SSL_PORT }}
