defaultEntryPoints = ["http","https"]
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
{% for name in traefik_ssl_names %}
      [[entryPoints.https.tls.certificates]]
      certFile = "/ssl/{{ name }}.pem"
      keyFile = "/ssl/{{ name }}-key.pem"
{% endfor %}
