apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{rg_rocket_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
  serviceName: {{rg_rocket_name}}
  replicas: 1
  selector:
    matchLabels:
      name: {{rg_rocket_name}}
  template:
    metadata:
     labels:
       name: {{rg_rocket_name}}
    spec:
      nodeName: {{ rocketmq_node_ip }}
      containers:
      - name: broker
        image: rocketmqinc/rocketmq:{{ rocketmq_version }}
{% if  rocket_cluster_mode != "yes" or DEPLOY_MODE =='allinone' or "yes" == (rocketmq_public) %}
        command: ["sh","mqbroker", "-n","localhost:9876 autoCreateTopicEnable=true"]
{% endif %}

{% if  rocket_cluster_mode == "yes" and  DEPLOY_MODE !='allinone' and "yes" != (rocketmq_public) %}
        command: ["sh","mqbroker", "-n", "\"rg-rocket:9876;rg-rocket2:9876\" autoCreateTopicEnable=true"]
{% endif %}

        env:
        - name: JAVA_OPT_EXT
{% if KAD_APP_NAME == 'smpplus' %}
          value: "{{ smpplus_mq_broker_java_opt }}"
{% endif %}
{% if KAD_APP_NAME != 'smpplus' %}
          value: "{{ mq_broker_java_opt }}"
{% endif %}
        imagePullPolicy: IfNotPresent
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
          - containerPort: 10909
          - containerPort: 10911
        volumeMounts:
          - mountPath: /root/logs
            name: brokeroptlogs
          - mountPath: /root/store
            name: brokeroptstore
          - mountPath: /opt/rocketmq/conf
            name: brokerconf
      - name: namesrv
        image: rocketmqinc/rocketmq:{{ rocketmq_version }}
        command: ["sh","mqnamesrv"]
        env:
        - name: JAVA_OPT_EXT
{% if KAD_APP_NAME == 'smpplus' %}
          value: "{{ smpplus_mq_server_java_opt }}"
{% endif %}
{% if KAD_APP_NAME != 'smpplus' %}
          value: "{{ mq_server_java_opt }}"
{% endif %}
        resources:
          limits:
            cpu: 1
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 1Gi
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 9876
        volumeMounts:
          - mountPath: /root/logs
            name: namesrvoptlogs
          - mountPath: /root/store
            name: namesrvoptstore
      volumes:
      - name: brokeroptlogs
        hostPath:
          path: {{ rocketmq_logs_dir }}/broker
      - name: brokeroptstore
        hostPath:
          path: {{ rocketmq_data_dir }}/broker
      - name: brokerconf
        hostPath:
          path: {{ rocketmq_conf_dir }}
      - name: namesrvoptlogs
        hostPath:
          path: {{ rocketmq_logs_dir }}/namesrv
      - name: namesrvoptstore
        hostPath:
          path: {{ rocketmq_data_dir }}/namesrv

---
apiVersion: v1
kind: Service
metadata:
  name: {{rg_rocket_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    name: {{rg_rocket_name}}
{% if "yes" == (rocketmq_public) %}
  type: NodePort
  ports:
  - name: n9876
    port: 9876
    targetPort: 9876
    nodePort: 9876
  - name: n10909
    port: 10909
    targetPort: 10909
    nodePort: 10909
  - name: n10911
    port: 10911
    targetPort: 10911
    nodePort: 10911
{% endif %}
{% if "yes" != (rocketmq_public) %}
  ports:
  - port: 9876
    targetPort: 9876
{% endif %}