#!/bin/bash

cd /ruijie/init/smpplus/rg-upgrade-db
./upgrade_data.sh 127.0.0.1 27017 linkid-dev smpplus 3.3.0 {{ LINKID_DB_VERSION }} {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }}
./upgrade_data.sh 127.0.0.1 27017 eportal smpplus 3.3.0 {{ EPORTAL_DB_VERSION }} {{ MONGODB_ADMIN_USER }} {{ MONGODB_ADMIN_PWD }}

