apiVersion: v1
kind: Endpoints
metadata:
  name: kube-controller-manager-k8s
  namespace: kube-system
  labels:
    k8s-app: kube-controller-manager
subsets:
- addresses:
{% for host in KUBE_MASTER_HOSTS %}
  - ip: {{ host }}     #kube-controller-manager节点IP(只用写master节点的IP)
{% endfor %}
  ports:
  - name: port
    port: 10252
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: kube-controller-manager-k8s
  namespace: kube-system
  annotations:
    prometheus.io/port: "10252"
    prometheus.io/scrape: "true"
  labels:
    k8s-app: kube-controller-manager
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: port
    port: 10252
    protocol: TCP

