apiVersion: v1
kind: Service
metadata:
  name: etcd-k8s
  namespace: kube-system
  annotations:
    prometheus.io/port: "2379"
    prometheus.io/scrape: "true"
    prometheus.io/scheme: "https"
  labels:
    k8s-app: etcd
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: port
    port: 2379
    protocol: TCP

---
apiVersion: v1
kind: Endpoints
metadata:
  name: etcd-k8s
  namespace: kube-system
  labels:
    k8s-app: etcd
subsets:
- addresses:
{% for host in KUBE_NODE_HOSTS %}
  - ip: {{ host }}     #etcd节点IP(单节点只用写一个，集群需要把所有node节点的IP写上,master节点除外
{% endfor %}
  ports:
  - name: port
    port: 2379
    protocol: TCP
  
