apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ pgsql_node_name }}
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    matchLabels:
      k8s-app: postgresql
  serviceName: postgresql
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: postgresql
    spec:
      nodeName: {{ pgsql_node_ip }}
      hostNetwork: true
      hostAliases:
{% for host in groups['pgsql'] %}
      - ip: "{{ host }}"
        hostnames:
        - "{{ hostvars[host]['PG_NODE_NAME'] }}"
{% endfor %}
      containers:
      - name: postgresql
        image: docker.io/bitnami/postgresql-repmgr:11-debian-10
        imagePullPolicy: IfNotPresent
        env:
        - name: POSTGRESQL_DATABASE
          value: customdatabase
        - name: POSTGRESQL_PASSWORD
          value: custompassword
        - name: PGPASSWORD
          value: {{ PGSQL_ADMIN_PWD }}
        - name: POSTGRESQL_POSTGRES_PASSWORD
          value: {{ PGSQL_ADMIN_PWD }}
        - name: POSTGRESQL_USERNAME
          value: customuser
        - name: REPMGR_NODE_NAME
          value: {{ pgsql_node_name }}
        - name: REPMGR_NODE_NETWORK_NAME
          value: {{ pgsql_node_name }}
        - name: REPMGR_PARTNER_NODES
          value: {{ pgsql_node_name }}
        - name: REPMGR_PASSWORD
          value: repmgrpassword
        - name: REPMGR_PORT_NUMBER
          value: "5432"
        - name: REPMGR_PRIMARY_HOST
          value: {{ pgsql_node_name }}
        - name: REPMGR_PRIMARY_PORT
          value: "5432"
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /bitnami/postgresql
          name: postgresql-data
        - mountPath: /ruijie/init
          name: postgresql-init
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: postgresql-data
          hostPath:
            path: {{ pgsql_data_dir }}
        - name: postgresql-init
          hostPath:
            path: {{ pgsql_init_dir }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    k8s-app: postgresql
  ports:
  - port: 5432
    targetPort: 5432
