#!/bin/bash

cd /ruijie/init/sourceid/rg-upgrade-db

# xxl-job组件数据库版本记录
{% if "xxl-job" in DB_VERSION %}
./upgrade_pg.sh {{current_db_version}} {{DB_VERSION["xxl-job"]["version"]}} xxl_job {{DB_VERSION["xxl-job"]["name"]}} sourceid
{% endif %}

# rg-flow组件数据库版本记录
{% if "rg-flow" in DB_VERSION %}
./upgrade_pg.sh {{current_db_version}} {{DB_VERSION["rg-flow"]["version"]}} flowable {{DB_VERSION["rg-flow"]["name"]}} sourceid
{% endif %}

# rg-authentication-validate组件数据库版本记录
{% if "ess" in DB_VERSION %}
./upgrade_pg.sh {{current_db_version}} {{DB_VERSION["ess"]["version"]}} essdb {{DB_VERSION["ess"]["name"]}} sourceid
{% endif %}