apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rg-{{ comp_name }}
  namespace: {{ APP_NAMESPACE }}
spec:
  replicas: {{ deploy_conf.replicas }}
  template:
    metadata:
      labels:
        service: rg-{{ comp_name }}
    spec:
      hostNetwork: true
      containers:
      - name: rg-{{ comp_name }}
        image: {{ PRIVATE_INSECURE_REGISTRY }}/{{ SMPPLUS_DOCKERS[comp_name].name }}:{{ SMPPLUS_DOCKERS[comp_name].version }}
        imagePullPolicy: IfNotPresent
{% if "dict" == (deploy_conf.resources | type_debug) %}
        resources:
          limits:
            cpu: {{ deploy_conf.resources.limits.cpu }}
            memory: {{ deploy_conf.resources.limits.memory }}
          requests:
            cpu: {{ deploy_conf.resources.requests.cpu }}
            memory: {{ deploy_conf.resources.requests.memory }}
{% endif %}
        ports:
        - containerPort: 1812
          protocol: UDP
          hostPort: 1812
        - containerPort: 1813
          protocol: UDP
          hostPort: 1813
        volumeMounts:
         - mountPath: /usr/local/etc/raddb/mods-enabled
           name: mods
         - mountPath: /usr/local/etc/raddb/sites-enabled
           name: sites
         - mountPath: /usr/local/var/log/radius
           name: log
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: mods
          hostPath:
            path: {{ config_base_dir }}/{{comp_name}}/mods-enabled
        - name: sites
          hostPath:
            path: {{ config_base_dir }}/{{comp_name}}/sites-enabled
        - mountPath: {{ config_base_dir }}/{{comp_name}}/log
          name: log

---
apiVersion: v1
kind: Service
metadata:
  name: rg-{{comp_name}}
  namespace: {{ APP_NAMESPACE }}
spec:
  selector:
    service: rg-{{comp_name}}
  ports:
  - protocol: UDP
    port: 1812
    name: port1812
    targetPort: 1812
  - protocol: UDP
    port: 1813
    name: port1813
    targetPort: 1813
  clusterIP: None
