
db.getSiblingDB("cas").runCommand({
  createUser: "{{ SOURCEID_CAS_DB_USER }}",
  pwd: "{{ SOURCEID_CAS_DB_PWD }}",
  roles: [{role:"dbOwner", db: "cas"}]
});

db.getSiblingDB("linkid-dev").runCommand({
  createUser: "{{ SOURCEID_LINKID_DB_USER }}",
  pwd: "{{ SOURCEID_LINKID_DB_PWD }}",
  roles: [{role:"dbOwner", db: "linkid-dev"}]
});

db.getSiblingDB("gate").runCommand({
  createUser: "{{ SOURCEID_GATE_DB_USER }}",
  pwd: "{{ SOURCEID_GATE_DB_PWD }}",
  roles: [{role:"dbOwner", db: "gate"}]
});

db.getSiblingDB("component").runCommand({
  createUser: "{{ COMPONENT_DB_USER }}",
  pwd: "{{ COMPONENT_DB_PWD }}",
  roles: [{role:"dbOwner", db: "component"}]
});

db.getSiblingDB("groupview").runCommand({
  createUser: "{{ SOURCEID_GROUPVIEW_DB_USER }}",
  pwd: "{{ SOURCEID_GROUPVIEW_DB_PWD }}",
  roles: [{role:"dbOwner", db: "groupview"}]
});

db.getSiblingDB("faceid").runCommand({
  createUser: "{{ SOURCEID_FACEID_DB_USER }}",
  pwd: "{{ SOURCEID_FACEID_DB_PWD }}",
  roles: [{role:"dbOwner", db: "faceid"}]
});

db.getSiblingDB("log").runCommand({
  createUser: "{{ SOURCEID_LOG_DB_USER }}",
  pwd: "{{ SOURCEID_LOG_DB_PWD }}",
  roles: [{role:"dbOwner", db: "log"}]
});

db.getSiblingDB("internet-id").runCommand({
  createUser: "{{ SOURCEID_INTERNETID_DB_USER }}",
  pwd: "{{ SOURCEID_INTERNETID_DB_PWD }}",
  roles: [{role:"dbOwner", db: "internet-id"}]
});

db.getSiblingDB("ztsync").runCommand({
  createUser: "{{ SOURCEID_ZTSYNC_DB_USER }}",
  pwd: "{{ SOURCEID_ZTSYNC_DB_PWD }}",
  roles: [{role:"dbOwner", db: "ztsync"}]
});

db.getSiblingDB("mdm").runCommand({
  createUser: "{{ SOURCEID_MDM_DB_USER }}",
  pwd: "{{ SOURCEID_MDM_DB_PWD }}",
  roles: [{role:"dbOwner", db: "mdm"}]
});

db.getSiblingDB("dop").runCommand({
  createUser: "{{ SOURCEID_DOP_DB_USER }}",
  pwd: "{{ SOURCEID_DOP_DB_PWD }}",
  roles: [{role:"dbOwner", db: "dop"}]
});

db.getSiblingDB("career-event").runCommand({
  createUser: "{{ SOURCEID_CAREER_DB_USER }}",
  pwd: "{{ SOURCEID_CAREER_DB_PWD }}",
  roles: [{role:"dbOwner", db: "career-event"}]
});

db.getSiblingDB("admin").runCommand({
  createUser: "{{ SOURCEID_READONLY_DB_USER }}",
  pwd: "{{ SOURCEID_READONLY_DB_PWD }}",
  roles: [{role:"readAnyDatabase", db: "admin"}]
});

db.getSiblingDB("report").runCommand({
  createUser: "{{ SOURCEID_REPORT_DB_USER }}",
  pwd: "{{ SOURCEID_REPORT_DB_PWD }}",
  roles: [{role:"dbOwner", db: "report"}]
});

db.getSiblingDB("license").runCommand({
  createUser: "{{ SOURCEID_LICENSE_DB_USER }}",
  pwd: "{{ SOURCEID_LICENSE_DB_PWD }}",
  roles: [{role:"dbOwner", db: "license"}]
});

db.getSiblingDB("application-facade").runCommand({
  createUser: "{{ SOURCEID_APPLICATION_FACADE_DB_USER }}",
  pwd: "{{ SOURCEID_APPLICATION_FACADE_DB_PWD }}",
  roles: [{role:"dbOwner", db: "application-facade"}]
});

db.getSiblingDB("sso-proxy").runCommand({
  createUser: "{{ SOURCEID_SSO_PROXY_DB_USER }}",
  pwd: "{{ SOURCEID_SSO_PROXY_DB_PWD }}",
  roles: [{role:"dbOwner", db: "sso-proxy"}]
});

{% for value in db_list %}
db.getSiblingDB("{{ value }}").runCommand({
  createUser: "{{ SOURCEID_READONLY_DB_USER }}",
  pwd: "{{ SOURCEID_READONLY_DB_PWD }}",
  roles: [{role:"read", db: "{{ value }}"}]
});

{% endfor %}