
db.getSiblingDB("cas").runCommand({
  createUser: "{{ SOURCEID_CAS_DB_USER }}",
  pwd: "{{ SOURCEID_CAS_DB_PWD }}",
  roles: [{role:"dbOwner", db: "cas"}]
});

db.getSiblingDB("linkid-dev").runCommand({
  createUser: "{{ SOURCEID_LINKID_DB_USER }}",
  pwd: "{{ SOURCEID_LINKID_DB_PWD }}",
  roles: [{role:"dbOwner", db: "linkid-dev"}]
});

db.getSiblingDB("gate").runCommand({
  createUser: "{{ SOURCEID_GATE_DB_USER }}",
  pwd: "{{ SOURCEID_GATE_DB_PWD }}",
  roles: [{role:"dbOwner", db: "gate"}]
});

db.getSiblingDB("component").runCommand({
  createUser: "{{ COMPONENT_DB_USER }}",
  pwd: "{{ COMPONENT_DB_PWD }}",
  roles: [{role:"dbOwner", db: "component"}]
});

{% if sourceid_faceid_enabled == "yes" %}
db.getSiblingDB("faceid").runCommand({
  createUser: "{{ SOURCEID_FACEID_DB_USER }}",
  pwd: "{{ SOURCEID_FACEID_DB_PWD }}",
  roles: [{role:"dbOwner", db: "faceid"}]
});
{% endif %}

