db.getSiblingDB("cas").changeUserPassword("{{ SOURCEID_CAS_DB_USER }}","{{ SOURCEID_CAS_DB_PWD }}");

db.getSiblingDB("linkid-dev").changeUserPassword("{{ SOURCEID_LINKID_DB_USER }}","{{ SOURCEID_LINKID_DB_PWD }}");

db.getSiblingDB("gate").changeUserPassword("{{ SOURCEID_GATE_DB_USER }}","{{ SOURCEID_GATE_DB_PWD }}");

db.getSiblingDB("component").changeUserPassword("{{ COMPONENT_DB_USER }}","{{ COMPONENT_DB_PWD }}");

db.getSiblingDB("groupview").changeUserPassword("{{ SOURCEID_GROUPVIEW_DB_USER }}","{{ SOURCEID_GROUPVIEW_DB_PWD }}");