db.getSiblingDB("cas").changeUserPassword("{{ SOURCEID_CAS_DB_USER }}","{{ SOURCEID_CAS_DB_PWD }}");

db.getSiblingDB("linkid-dev").changeUserPassword("{{ SOURCEID_LINKID_DB_USER }}","{{ SOURCEID_LINKID_DB_PWD }}");

db.getSiblingDB("gate").changeUserPassword("{{ SOURCEID_GATE_DB_USER }}","{{ SOURCEID_GATE_DB_PWD }}");

db.getSiblingDB("component").changeUserPassword("{{ COMPONENT_DB_USER }}","{{ COMPONENT_DB_PWD }}");

db.getSiblingDB("groupview").changeUserPassword("{{ SOURCEID_GROUPVIEW_DB_USER }}","{{ SOURCEID_GROUPVIEW_DB_PWD }}");

db.getSiblingDB("faceid").changeUserPassword("{{ SOURCEID_FACEID_DB_USER }}","{{ SOURCEID_FACEID_DB_PWD }}");

db.getSiblingDB("log").changeUserPassword("{{ SOURCEID_LOG_DB_USER }}","{{ SOURCEID_LOG_DB_PWD }}");

db.getSiblingDB("internet-id").changeUserPassword("{{ SOURCEID_INTERNETID_DB_USER }}","{{ SOURCEID_INTERNETID_DB_PWD }}");

db.getSiblingDB("ztsync").changeUserPassword("{{ SOURCEID_ZTSYNC_DB_USER }}","{{ SOURCEID_ZTSYNC_DB_PWD }}");

db.getSiblingDB("mdm").changeUserPassword("{{ SOURCEID_MDM_DB_USER }}","{{ SOURCEID_MDM_DB_PWD }}");